!
router bgp {{ bgp_as }}
{% for peer in bgp_peers %}
   neighbor {{ peer.peer_ip }} remote-as {{ peer.peer_as }}
   neighbor {{ peer.peer_ip }} maximum-routes {{ peer.maximum_routes }}
{% endfor %}
{% for net in announced_routes %}
   network {{ net.prefix }}/{{ net.mask }}
{% endfor %}
!
{% for route in static_routes %}
ip route {{ route.prefix }}/{{ route.mask }} {{ route.next_hop}}
{% endfor %}
!
