!
router bgp {{ bgp_as }}
{% for net in announced_routes %}
  network {{ net.prefix }} mask {{ net.mask }}
{% endfor %}
{% for peer in bgp_peers %}
  neighbor {{ peer.peer_ip }} remote-as {{ peer.peer_as }}
{% endfor %}
!
{% for route in static_routes %}
ip route {{ route.prefix }} {{ route.mask }} {{ route.next_hop }}
{% endfor %}
!
