{% macro port_shutdown() -%} 
  shutdown
  no switchport
  mac-address {{ mac_address }}
{%- endmacro %}
{% macro port_no_shutdown() -%} 
  no switchport
  mac-address {{ mac_address }}
  no shutdown
{%- endmacro %}

interface {{ mgmt_if.name }}
  vrf member management
  ip address {{ mgmt_if.ip }}/{{ mgmt_if.mask }}

interface Vlan1

{% for intf in range(1,49) %}
{%- set port = 'Ethernet2/' + intf|string -%}
interface {{ port }}
{% if intf in range(1,5) %}
  {{ port_no_shutdown() }}
  ip address {{ ip_interfaces[port] }}
{% elif intf in range(5,8) %}
  {{ port_no_shutdown() }}
{% else %}
  {{ port_shutdown() }}
{% endif %}

{% endfor %}
